/* .chat-body */
.chat-body {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto;
    height: 90vh;
    /* Fixed height for the chat body */
}

.chat-body .sidebar {
    width: 500px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.chat-body .sidebar h2 {
    margin: 5px;
    color: aqua;
}

.chat-body .sidebar .search-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.chat-body .sidebar .search-container input[type="text"] {
    width: calc(100% - 15%);
}

.chat-body .sidebar .friends-chat {
    margin-top: 20px;
    overflow-y: auto;
}

.chat-body .sidebar .single-chat {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 20px;
}

.chat-body .sidebar .single-chat .friend-info {
    flex-grow: 1;
}

.chat-body .sidebar .single-chat .friend-info .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.chat-body .sidebar .single-chat .friend-info .recent-message {
    color: gray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
}

.chat-body .sidebar .single-chat .message-time {
    color: gray;
}

.chat-body .sidebar .single-chat:hover {
    background-color: #4f4f4f;
}

/* .chat-container */
.chat-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chat-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.chat-container .header>div {
    font-weight: bold;
}

.chat-container .message-container {
    padding: 10px;
}

.chat-container .message-container .message {
    display: flex;
    margin-bottom: 10px;
}

.chat-container .message.receiver .message-bubble {
    background-color: lightblue;
}

.chat-container .message-bubble {
    padding: 8px;
    border-radius: 10px;
    width: 55%;
    background-color: #4f4f4f;
}

.chat-container .message-bubble .message-info {
    color: gray;
    font-size: 0.7em;
    display: flex;
    justify-content: end;
}

.chat-container .message.receiver {
    display: flex;
    justify-content: flex-end;
}

.input-container input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.input-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.input-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 500px);
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #4f4f4f;
    color: white;
    margin-top: 50px;
}

/* .emoji-picker */
.emoji-picker {
    position: absolute;
    color: black;
    bottom: 50px;
    left: 0;
    background-color: rgb(161, 161, 161);
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    /* Hide by default */
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
}

.emoji-picker .emoji-categories {
    padding: 10px;
}

.emoji-picker .category {
    margin-bottom: 20px;
}

.emoji-picker .category h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.emoji-picker .emojis {
    display: flex;
    flex-wrap: wrap;
}

.emoji-picker .emoji {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.emoji-picker .recent-emojis {
    margin-top: 20px;
}

.emoji-picker .recent-emojis h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.emoji-picker .recent-emojis-list {
    display: flex;
    flex-wrap: wrap;
}

.emoji-picker .recent-emoji {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* Add this to your existing CSS */

.search-results {
    margin-top: 10px;
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
}

.search-results .emoji {
    font-size: 24px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}