body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}
.container {
    display: flex;
}

.sidebar {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.left {
    background-color: #ffffff;
    width: 250px;
    left: 0;
    top: 0;
    z-index: 2;
}

#image-container {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-right: 50px;
}

#profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#crop-preview {
    position: absolute;
    border: 2px solid #fff;
    box-sizing: content-box;
}

#crop-preview::before,
#crop-preview::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
}

#crop-preview::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#crop-preview::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.suggestions {
    margin-top: 20px;
}

.suggestion {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.right {
    background-color: #ffffff;
    width: 250px;
    right: 0;
    top: 0;
    z-index: 2;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    margin-left: 250px;
}

.home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1120px;
    position: relative;
    left: 81px;
}

.friend-posts {
    width: 70%;
}

.friend-post {
    width: 100%;
    margin: 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.178);
    border-radius: 8px;
    overflow: hidden;
}

.friend-post img {
    width: 100%;
    height: auto;
}

.post-details {
    padding: 15px;
}

.friend-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-time {
    color: #999;
    margin-bottom: 10px;
}

.post-content {
    margin-bottom: 10px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        display: none;
    }

    .content {
        order: 1;
    }

    .navbar {
        overflow-x: auto;
    }

    .friend-posts {
        width: 100%;
    }
}

.navbar {
    margin-left: 100px;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 75%;
    top: -20px;
    left: -20px;
    z-index: 1;
}

.nav-item {
    cursor: pointer;
    transition: color 0.3s ease;
    color: #333;
}