<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1144a62fa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/cssAREcss/signup.css">
    <title>Sign Up Form</title>
</head>

<body>
    <div id="bgsvgs">
        <svg id="heart-eyes" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(-45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M457.843788 533.272083m-439.945718 0a439.945719 439.945719 0 1 0 879.891437 0 439.945719 439.945719 0 1 0-879.891437 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M552.118157 908.273548c-242.974949 0-439.943719-196.968769-439.943719-439.943719 0-129.812507 56.23422-246.474963 145.656569-327.003277C115.402451 214.150837 17.89807 362.327415 17.89807 533.276083c0 242.974949 196.968769 439.943719 439.943718 439.943719 113.162442 0 216.332845-42.740167 294.28515-112.938442-60.008234 30.68212-127.9865 47.992187-200.008781 47.992188z"
                    fill="#FCC56B"></path>
                <path
                    d="M268.77905 539.584108c-32.672128 0-59.160231 26.486103-59.160231 59.158231h118.316462c0.002-32.672128-26.484103-59.158231-59.156231-59.158231zM784.793066 539.584108c-32.672128 0-59.160231 26.486103-59.160231 59.158231h118.316462c0-32.672128-26.486103-59.158231-59.156231-59.158231z"
                    fill="#F9A880"></path>
                <path
                    d="M389.13552 52.052203c-55.112215 8.026031-95.500373 49.902195-105.198411 100.298392a11.432045 11.432045 0 0 1-8.692034 9.014035 11.436045 11.436045 0 0 1-11.726046-4.388017c-30.442119-41.266161-84.868332-61.656241-138.020539-45.224176-58.75423 18.164071-95.900375 77.708304-86.440337 138.47654 5.792023 37.212145 27.070106 67.576264 55.906218 86.164337h-0.002l204.000797 141.168551c30.542119 21.136083 72.636284 11.586045 91.062356-20.66408l120.708471-211.226825c20.176079-30.072117 27.368107-68.758269 15.650061-106.824418-17.98007-58.398228-76.7863-95.600373-137.248536-86.794339zM931.993641 160.836628c-42.530166-10.794042-84.56033 7.490029-106.828418 41.238161a9.010035 9.010035 0 0 1-9.044035 3.938016 9.008035 9.008035 0 0 1-7.210028-6.734027c-9.698038-39.216153-43.152169-70.482275-86.790339-74.566291-48.240188-4.514018-93.244364 27.608108-104.700409 74.682292-7.016027 28.826113-0.696003 57.346224 14.680057 79.576311h-0.002l105.848414 164.304642c15.848062 24.600096 49.362193 30.354119 72.506283 12.448048l151.594592-117.284458c23.758093-15.796062 40.670159-41.776163 43.63017-73.016285 4.540018-47.924187-27.028106-92.744362-73.684287-104.586409z"
                    fill="#FD4DD7"></path>
                <path
                    d="M391.67953 431.423685l-204.000797-141.168551h0.002c-28.836113-18.588073-50.116196-48.950191-55.906218-86.164337-5.574022-35.81214 5.04802-71.188278 26.730104-97.932382a126.572494 126.572494 0 0 0-33.006129 5.592022c-58.75423 18.164071-95.900375 77.708304-86.440337 138.47654 5.792023 37.212145 27.070106 67.576264 55.906218 86.164337h-0.002l204.000797 141.168551c30.542119 21.136083 72.636284 11.586045 91.062356-20.66408l11.394044-19.940078a64.186251 64.186251 0 0 1-9.740038-5.532022zM830.663245 397.139551l-105.848414-164.304641h0.002c-15.37606-22.232087-21.696085-50.748198-14.680057-79.576311a97.000379 97.000379 0 0 1 12.032047-28.542112 0.388002 0.388002 0 0 0-0.048-0.004c-48.240188-4.514018-93.244364 27.608108-104.700409 74.682292-7.016027 28.830113-0.696003 57.346224 14.680057 79.576311h-0.002l105.848414 164.304642c15.848062 24.600096 49.362193 30.354119 72.506283 12.448048l48.58619-37.588147a49.660194 49.660194 0 0 1-28.376111-20.996082z"
                    fill="#E54190"></path>
                <path
                    d="M558.720183 831.067246c-98.350384 0-178.080696-79.730311-178.080696-178.080695h356.161391c0 98.352384-79.728311 178.080696-178.080695 178.080695z"
                    fill="#7F184C"></path>
                <path
                    d="M424.089657 652.986551v27.798108c0 11.722046 9.502037 21.222083 21.222082 21.222083h226.814886c11.722046 0 21.222083-9.502037 21.222083-21.222083v-27.798108H424.089657z"
                    fill="#F2F2F2"></path>
                <path
                    d="M562.460197 757.186958c-48.138188-22.364087-101.554397-19.114075-144.872566 4.080016 32.550127 42.424166 83.736327 69.800273 141.340552 69.800272a177.414693 177.414693 0 0 0 71.364279-14.920058c-16.034063-24.806097-39.022152-45.572178-67.832265-58.96023z"
                    fill="#FC4C59"></path>
                <path
                    d="M85.012332 351.271372l203.766796 141.006551a81.456318 81.456318 0 0 0 46.304181 14.428056c5.984023 0 11.996047-0.660003 17.91407-2.004008a81.452318 81.452318 0 0 0 52.566205-38.926152l120.398471-210.684823c23.866093-35.92014 30.256118-80.166313 17.526068-121.510474-20.50808-66.61426-87.972344-109.274427-156.932613-99.236388-55.930218 8.144032-101.498396 48.268189-117.062457 101.638397-36.992145-41.418162-95.344372-58.006227-149.280583-41.332161-67.164262 20.764081-109.658428 88.830347-98.840387 158.328618 6.284025 40.356158 29.474115 76.162298 63.640249 98.292384z m45.774179-222.420869a107.672421 107.672421 0 0 1 31.826124-4.814018c33.548131 0 65.942258 15.688061 86.506338 43.56417a29.340115 29.340115 0 0 0 30.078118 11.218044 29.336115 29.336115 0 0 0 22.314087-23.086091c8.626034-44.822175 44.880175-79.37031 90.206352-85.970335 51.638202-7.514029 102.200399 24.438095 117.562459 74.34629 9.604038 31.192122 4.720018 64.574252-13.404052 91.584358a16.240063 16.240063 0 0 0-0.678003 1.092004l-120.708471 211.226825c-6.396025 11.192044-16.840066 18.926074-29.410115 21.778085-12.576049 2.852011-25.330099 0.382001-35.93014-6.952027L105.154411 321.673257c-0.160001-0.11-0.324001-0.220001-0.486002-0.326002-25.728101-16.580065-43.194169-43.50617-47.920187-73.872288-8.112032-52.072203 23.722093-103.070403 74.038289-118.624464z"
                    fill=""></path>
                <path
                    d="M936.393658 143.490561c-42.464166-10.780042-86.902339 3.166012-115.534452 34.970136-16.340064-39.500154-53.508209-67.492264-97.074379-71.568279-57.010223-5.342021-110.212431 32.612127-123.758483 88.270344-7.860031 32.292126-1.598006 66.43826 17.174067 93.740367l105.696413 164.06464a67.992266 67.992266 0 0 0 45.536178 30.110118c3.794015 0.652003 7.61003 0.972004 11.414044 0.972004a68.016266 68.016266 0 0 0 41.554163-14.170056l46.672182-36.108141a423.501654 423.501654 0 0 1 11.810046 99.508389c0 232.718909-189.32874 422.045649-422.045649 422.045649S35.79414 765.992992 35.79414 533.276083c0-16.562065 0.968004-33.24213 2.878011-49.576194a17.89607 17.89607 0 0 0-15.698061-19.854077c-9.808038-1.152005-18.706073 5.878023-19.854078 15.698061A464.141813 464.141813 0 0 0 0 533.276083c0 252.454986 205.384802 457.839788 457.837788 457.839789 252.454986 0 457.839788-205.384802 457.839789-457.839789 0-41.914164-5.668022-83.338326-16.826066-123.320482l73.654288-56.986222c29.094114-19.578076 47.666186-50.834199 50.984199-85.860336 5.360021-56.510221-32.084125-109.656428-87.09634-123.618482z m51.464201 120.242469c-2.318009 24.456096-15.33606 46.250181-35.71814 59.800234a17.470068 17.470068 0 0 0-1.046004 0.750003l-151.592592 117.280458c-7.186028 5.558022-16.072063 7.76603-25.008098 6.234024-8.948035-1.536006-16.586065-6.586026-21.504084-14.218055l-105.844413-164.304642a17.336068 17.336068 0 0 0-0.326001-0.490002c-13.294052-19.222075-17.558069-42.362165-12.010047-65.162255 8.788034-36.106141 41.678163-61.44424 78.250305-61.44424 2.44601 0 4.918019 0.112 7.392029 0.346002 34.282134 3.210013 62.848246 27.742108 71.084278 61.044238a26.920105 26.920105 0 0 0 21.550084 20.076079 26.918105 26.918105 0 0 0 27.016106-11.720046c18.916074-28.664112 54.068211-42.226165 87.488341-33.748132 38.066149 9.668038 63.97625 46.448181 60.268236 85.556334z"
                    fill=""></path>
                <path
                    d="M362.743417 652.986551c0 108.062422 87.914343 195.978766 195.978766 195.978765s195.980766-87.914343 195.980765-195.978765a17.89607 17.89607 0 0 0-17.89807-17.89807H380.639487a17.89807 17.89807 0 0 0-17.89607 17.89807z m355.169387 17.89807c-8.924035 79.934312-76.9143 142.284556-159.192621 142.284555s-150.264587-62.350244-159.190622-142.284555h318.383243z"
                    fill=""></path>
                <path
                    d="M583.77028 111.230434m-17.89807 0a17.89807 17.89807 0 1 0 35.79614 0 17.89807 17.89807 0 1 0-35.79614 0Z"
                    fill=""></path>
                <path
                    d="M32.778128 421.973648m-17.89807 0a17.89807 17.89807 0 1 0 35.79614 0 17.89807 17.89807 0 1 0-35.79614 0Z"
                    fill=""></path>
            </g>
        </svg>

        <svg id="not-satisfied" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M617.43 931.354c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.106 34.31-143.124 53.666-223.668 53.666z"
                    fill="#FCC56B"></path>
                <path
                    d="M754.794 359.71c0 36.912 29.924 66.834 66.834 66.834 36.912 0 66.834-29.924 66.834-66.834h-133.668zM412.944 359.71c0 36.912 29.924 66.834 66.834 66.834 36.91 0 66.834-29.924 66.834-66.834h-133.668z"
                    fill="#FFFFFF"></path>
                <path
                    d="M300.572 481.542c-36.536 0-66.156 29.62-66.156 66.158h132.314c0-36.538-29.618-66.158-66.158-66.158zM877.628 472.678c-36.536 0-66.158 29.62-66.158 66.156h132.314c0-36.538-29.62-66.156-66.156-66.156z"
                    fill="#F9A880"></path>
                <path
                    d="M465.712 780.218a19.96 19.96 0 0 1-14.648-6.372c-7.534-8.088-7.086-20.752 1-28.288 33.622-31.324 92.184-50.782 152.838-50.782 63.42 0 120.406 19.176 152.438 51.294 7.806 7.828 7.788 20.498-0.038 28.304-7.828 7.806-20.5 7.788-28.306-0.038-24.316-24.384-71.868-39.53-124.094-39.53-50.93 0-99.04 15.344-125.55 40.042a19.952 19.952 0 0 1-13.64 5.37z"
                    fill="#7F184C"></path>
                <path
                    d="M943.196 235.822c-51.46-80.184-123.956-144.338-209.648-185.53-9.96-4.784-21.918-0.596-26.71 9.37-4.788 9.962-0.596 21.92 9.37 26.71 79.004 37.978 145.846 97.132 193.3 171.072 48.714 75.904 74.46 163.928 74.46 254.558 0 260.248-211.724 471.97-471.97 471.97S40.03 772.244 40.03 512 251.752 40.03 512 40.03c11.054 0 20.014-8.962 20.014-20.014S523.054 0 512 0C229.68 0 0 229.68 0 512s229.68 512 512 512 512-229.68 512-512c0-98.31-27.94-193.812-80.804-276.178z"
                    fill=""></path>
                <path
                    d="M642.25 359.71c0 11.054 8.962 20.014 20.014 20.014h74.842c9.062 38.27 43.52 66.834 84.52 66.834 47.888 0 86.848-38.962 86.848-86.848 0-11.054-8.962-20.014-20.014-20.014H662.266c-11.054-0.002-20.016 8.96-20.016 20.014z m221.702 20.014c-7.518 15.832-23.662 26.804-42.322 26.804-18.658 0-34.804-10.974-42.322-26.804h84.644zM300.4 359.71c0 11.054 8.962 20.014 20.014 20.014h74.842c9.062 38.27 43.52 66.834 84.52 66.834 47.888 0 86.848-38.962 86.848-86.848 0-11.054-8.962-20.014-20.014-20.014H320.414c-11.054-0.002-20.014 8.96-20.014 20.014z m221.698 20.014c-7.518 15.832-23.662 26.804-42.322 26.804-18.66 0-34.804-10.974-42.322-26.804h84.644zM451.062 773.848a19.964 19.964 0 0 0 14.648 6.372 19.948 19.948 0 0 0 13.64-5.37c26.512-24.7 74.62-40.042 125.55-40.042 52.226 0 99.774 15.148 124.094 39.534 7.806 7.828 20.48 7.844 28.306 0.038 7.828-7.806 7.844-20.48 0.038-28.304-32.032-32.12-89.018-51.296-152.438-51.296-60.65 0-119.212 19.46-152.838 50.784-8.086 7.534-8.534 20.198-1 28.284z"
                    fill=""></path>
                <path d="M654.428 43.39m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="laugh" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(-45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M513.201002 512.003m-491.986961 0a491.986961 491.986961 0 1 0 983.973922 0 491.986961 491.986961 0 1 0-983.973922 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M618.625208 931.355819c-271.716531 0-491.984961-220.26843-491.984961-491.984961 0-145.168284 62.886123-275.632538 162.888318-365.684714C130.252254 155.124303 21.212041 320.826627 21.212041 511.999c0 271.716531 220.26843 491.984961 491.984961 491.984961 126.548247 0 241.924473-47.794093 329.096643-126.298247-67.104131 34.312067-143.12228 53.670105-223.668437 53.670105z"
                    fill="#FCC56B"></path>
                <path
                    d="M834.117629 460.7269a20.000039 20.000039 0 0 1-17.504034-10.28002c-12.842025-23.052045-37.188073-37.372073-63.542124-37.372073-25.70205 0-50.378098 14.530028-64.404126 37.924074-5.684011 9.478019-17.978035 12.556025-27.458054 6.874013-9.482019-5.684011-12.558025-17.976035-6.874013-27.458053 21.216041-35.388069 59.048115-57.370112 98.736193-57.370112 40.86408 0 78.612154 22.192043 98.512192 57.922113 5.380011 9.656019 1.910004 21.846043-7.744015 27.222053a19.860039 19.860039 0 0 1-9.722019 2.538005zM492.660962 460.7269a20.000039 20.000039 0 0 1-17.504034-10.28002c-12.842025-23.052045-37.188073-37.372073-63.542124-37.372073-25.69805 0-50.378098 14.530028-64.404126 37.924074-5.682011 9.478019-17.974035 12.556025-27.458053 6.874013-9.478019-5.684011-12.558025-17.978035-6.872014-27.458053 21.216041-35.388069 59.048115-57.370112 98.736193-57.370112 40.86408 0 78.612154 22.192043 98.512192 57.922113 5.380011 9.656019 1.910004 21.846043-7.744015 27.222053a19.878039 19.878039 0 0 1-9.724019 2.538005zM587.091147 875.41371c-141.962277 0-257.044502-115.082225-257.044502-257.044502h514.087004c0 141.960277-115.082225 257.044502-257.042502 257.044502z"
                    fill="#7F184C"></path>
                <path
                    d="M392.764767 618.369208v40.122078c0 16.920033 13.714027 30.63406 30.63406 30.63406h327.386639c16.916033 0 30.63406-13.714027 30.63406-30.63406v-40.122078H392.764767z"
                    fill="#F2F2F2"></path>
                <path
                    d="M592.483157 768.771502c-69.480136-32.280063-146.588286-27.590054-209.108408 5.890011 46.984092 61.23412 120.864236 100.748197 204.014398 100.748197 36.640072 0 71.46214-7.718015 103.006201-21.534042-23.142045-35.80607-56.32611-65.782128-97.912191-85.104166z"
                    fill="#FC4C59"></path>
                <path
                    d="M302.23859 671.087311c-30.032059 32.846064-81.004158 35.130069-113.852222 5.09801s-35.130069-81.004158-5.09801-113.852223c30.032059-32.846064 167.822328-64.126125 167.822328-64.126125s-18.838037 140.032274-48.872096 172.880338zM855.335671 653.129276c30.032059 32.846064 81.004158 35.130069 113.852222 5.09801s35.130069-81.004158 5.09801-113.852223c-30.032059-32.846064-167.822328-64.126125-167.822328-64.126125s18.842037 140.036274 48.872096 172.880338z"
                    fill="#3FA9F5"></path>
                <path
                    d="M753.071471 373.052729c-39.688078 0-77.520151 21.982043-98.736193 57.370112-5.684011 9.482019-2.608005 21.774043 6.874013 27.458053 9.478019 5.682011 21.774043 2.608005 27.458054-6.874013 14.024027-23.394046 38.702076-37.924074 64.404126-37.924074 26.352051 0 50.702099 14.320028 63.542124 37.372073a20.000039 20.000039 0 0 0 27.226053 7.748015c9.658019-5.380011 13.124026-17.568034 7.744015-27.222053-19.900039-35.73607-57.648113-57.928113-98.512192-57.928113zM411.614804 373.052729c-39.686078 0-77.518151 21.982043-98.736193 57.370112-5.684011 9.478019-2.608005 21.774043 6.872014 27.458053 9.484019 5.682011 21.776043 2.608005 27.458053-6.874013 14.026027-23.394046 38.706076-37.924074 64.404126-37.924074 26.352051 0 50.702099 14.320028 63.542124 37.372073a20.000039 20.000039 0 0 0 27.226053 7.748015c9.658019-5.380011 13.124026-17.568034 7.744015-27.222053-19.898039-35.73607-57.644113-57.928113-98.510192-57.928113z"
                    fill=""></path>
                <path
                    d="M989.055932 530.873037c-32.608064-35.66607-154.132301-64.684126-178.162348-70.140137a20.016039 20.016039 0 0 0-24.266048 22.184043c2.042004 15.16603 9.778019 68.578134 23.152046 115.436226H352.584689c10.44202-41.766082 16.580032-84.226165 18.362036-97.476191a20.016039 20.016039 0 0 0-24.266048-22.184043c-24.030047 5.454011-145.554284 34.474067-178.162348 70.136137-37.430073 40.93608-34.574068 104.696204 6.364013 142.126278 18.694037 17.092033 42.604083 26.358051 67.772132 26.358051 1.532003 0 3.068006-0.034 4.608009-0.104 26.844052-1.200002 51.614101-12.786025 69.744136-32.618064 0.272001-0.296001 0.534001-0.652001 0.804002-0.958002 29.422057 121.380237 138.980271 211.794414 269.274526 211.794414 130.536255 0 241.356471-91.054178 269.912527-214.338419 17.220034 12.094024 37.508073 18.218036 57.850113 18.218036 11.548023 0 23.104045-1.996004 34.132066-5.962012-30.358059 72.630142-78.866154 137.476269-140.898275 187.182366-84.456165 67.674132-186.428364 103.444202-294.888576 103.444202-260.246508 0-471.970922-211.726414-471.970921-471.970922S252.950494 40.030078 513.197002 40.030078c214.730419 0 402.530786 144.914283 456.696892 352.404688 2.792005 10.698021 13.724027 17.106033 24.420048 14.310028 10.696021-2.792005 17.104033-13.728027 14.310028-24.420047C949.857855 157.216307 746.133457 0 513.197002 0c-282.320551 0-512.001 229.680449-512.001 511.999s229.680449 511.999 511.999 511.999c115.976227 0 229.592448-39.858078 319.916625-112.234219 88.950174-71.270139 152.292297-171.266335 178.362349-281.56055a19.986039 19.986039 0 0 0 0.502001-5.622011c8.454017-31.996062 1.024002-67.522132-22.920045-93.708183z m-743.581453 146.346286c-16.140032 0.734001-31.636062-4.89201-43.578085-15.808031-24.650048-22.536044-26.368052-60.924119-3.832007-85.574167 14.874029-16.268032 76.84015-37.304073 128.718251-51.0161-9.022018 52.892103-24.436048 116.488228-39.312077 132.762259-10.920021 11.940023-25.83405 18.914037-41.996082 19.636039z m341.612668 178.178348c-123.958242 0-225.998441-95.648187-236.192462-217.014424h472.388923c-10.20202 122.118239-112.928221 217.014424-236.196461 217.014424z m325.012634-196.132383c-16.164032-0.724001-31.076061-7.698015-41.994082-19.638039-2.584005-2.826006-5.18201-7.106014-7.760015-12.482024a19.606038 19.606038 0 0 0-1.264002-2.724005 176.690345 176.690345 0 0 1-4.77401-11.888024c-0.13-0.432001-0.294001-0.854002-0.454-1.272002-9.856019-27.620054-18.934037-68.472134-25.060049-104.400204 51.868101 13.706027 113.824222 34.734068 128.718251 51.0241 22.536044 24.648048 20.818041 63.038123-3.832007 85.574167-11.938023 10.916021-27.408054 16.534032-43.580086 15.806031z"
                    fill=""></path>
                <path
                    d="M1002.787959 452.064883m-20.01404 0a20.014039 20.014039 0 1 0 40.028079 0 20.014039 20.014039 0 1 0-40.028079 0Z"
                    fill=""></path>
            </g>
        </svg>

        <svg id="blue-face" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="matrix(-1, 0, 0, -1, 0, 0)rotate(-45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#3FA9F5"></path>
                <path
                    d="M617.432 931.356c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.102 34.31-143.124 53.668-223.666 53.668z"
                    fill="#1E96EC"></path>
                <path d="M426.314 359.704m-142.718 0a142.718 142.718 0 1 0 285.436 0 142.718 142.718 0 1 0-285.436 0Z"
                    fill="#FFFFFF"></path>
                <path d="M826.554 359.704m-142.718 0a142.718 142.718 0 1 0 285.436 0 142.718 142.718 0 1 0-285.436 0Z"
                    fill="#FFFFFF"></path>
                <path d="M450.33 359.704m-40.03 0a40.03 40.03 0 1 0 80.06 0 40.03 40.03 0 1 0-80.06 0Z" fill="#224275">
                </path>
                <path d="M856.468 359.704m-40.03 0a40.03 40.03 0 1 0 80.06 0 40.03 40.03 0 1 0-80.06 0Z" fill="#224275">
                </path>
                <path
                    d="M761.72 774.486a20.006 20.006 0 0 1-17.504-10.28c-24.46-43.906-70.842-71.186-121.044-71.186-48.902 0-95.762 27.49-122.292 71.738-5.682 9.48-17.976 12.554-27.458 6.874-9.482-5.684-12.558-17.976-6.874-27.458 33.72-56.244 93.736-91.184 156.624-91.184 64.712 0 124.492 35.152 156.014 91.736 5.38 9.656 1.914 21.846-7.744 27.222a19.902 19.902 0 0 1-9.722 2.538z"
                    fill="#224275"></path>
                <path
                    d="M589.06 359.712c0-89.732-73.002-162.732-162.732-162.732s-162.732 73-162.732 162.732c0 89.73 73 162.73 162.732 162.73s162.732-73 162.732-162.73z m-162.734 122.7c-67.66 0-122.704-55.044-122.704-122.7s55.044-122.704 122.704-122.704 122.704 55.046 122.704 122.704-55.046 122.7-122.704 122.7zM473.422 771.634c9.482 5.678 21.776 2.604 27.458-6.874 26.528-44.248 73.388-71.738 122.292-71.738 50.202 0 96.582 27.278 121.044 71.186a20.004 20.004 0 0 0 27.226 7.748c9.658-5.38 13.124-17.568 7.744-27.222-31.522-56.586-91.302-91.736-156.014-91.736-62.886 0-122.904 34.94-156.624 91.184-5.684 9.476-2.608 21.77 6.874 27.452z"
                    fill=""></path>
                <path
                    d="M975.318 293.872a162.382 162.382 0 0 0-5.028-10.346c-0.262-0.526-0.504-1.056-0.768-1.58a20.408 20.408 0 0 0-1.386-2.306c-27.994-49.306-80.95-82.664-141.586-82.664-89.732 0-162.732 73-162.732 162.732 0 89.73 73 162.73 162.732 162.73 66.78 0 124.268-40.446 149.32-98.118a476.014 476.014 0 0 1 8.096 87.676c0 260.248-211.724 471.968-471.97 471.968S40.03 772.248 40.03 512 251.752 40.03 512 40.03c83.416 0 165.388 22.048 237.056 63.762 9.548 5.556 21.806 2.324 27.364-7.232 5.558-9.554 2.324-21.806-7.23-27.366C691.418 23.926 602.48 0 512 0 229.68 0 0 229.68 0 512c0 282.316 229.68 512 512 512s512-229.68 512-511.998c0-76.444-16.386-149.752-48.682-218.13z m-26.064 65.84c0 67.66-55.044 122.7-122.704 122.7s-122.704-55.044-122.704-122.7 55.044-122.704 122.704-122.704c46.468 0 86.986 25.968 107.808 64.154a480.478 480.478 0 0 1 4.868 10.016 121.966 121.966 0 0 1 10.028 48.534z"
                    fill=""></path>
                <path d="M821.084 130.95m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="savage" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M617.43 931.354c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.106 34.31-143.124 53.666-223.668 53.666z"
                    fill="#FCC56B"></path>
                <path
                    d="M754.796 415.426c0 36.912 29.924 66.834 66.834 66.834 36.912 0 66.834-29.924 66.834-66.834h-133.668zM412.944 415.426c0 36.912 29.924 66.834 66.834 66.834 36.91 0 66.834-29.924 66.834-66.834h-133.668z"
                    fill="#FFFFFF"></path>
                <path
                    d="M300.576 550.976c-36.536 0-66.156 29.62-66.156 66.158h132.314c-0.004-36.54-29.622-66.158-66.158-66.158zM877.628 542.112c-36.536 0-66.156 29.62-66.156 66.156h132.314c0-36.536-29.622-66.156-66.158-66.156z"
                    fill="#F9A880"></path>
                <path
                    d="M625.648 761.938h-163.018c-11.054 0-20.014-8.962-20.014-20.014 0-11.054 8.962-20.014 20.014-20.014h163.018c53.874 0 104.522-20.978 142.62-59.072 7.816-7.816 20.49-7.816 28.304 0 7.816 7.816 7.816 20.49 0 28.304-45.656 45.652-106.356 70.796-170.924 70.796z"
                    fill=""></path>
                <path
                    d="M931.774 218.78c-58.966-84.262-140.682-148.21-236.314-184.926-10.314-3.962-21.896 1.19-25.856 11.51-3.962 10.32 1.19 21.896 11.51 25.856 88.156 33.846 163.49 92.806 217.864 170.506 55.604 79.458 84.994 172.916 84.994 270.268 0 260.248-211.724 471.97-471.97 471.97S40.03 772.244 40.03 512 251.752 40.03 512 40.03c11.054 0 20.014-8.962 20.014-20.014S523.054 0 512 0C229.68 0 0 229.68 0 512s229.68 512 512 512 512-229.68 512-512c0-105.602-31.89-206.998-92.226-293.22z"
                    fill=""></path>
                <path
                    d="M737.106 435.44c9.062 38.27 43.52 66.834 84.52 66.834 47.888 0 86.848-38.96 86.848-86.848 0-11.054-8.962-20.014-20.014-20.014h-194.996c-11.054 0-20.014 8.962-20.014 20.014 0 11.054 8.962 20.014 20.014 20.014h43.642z m126.846 0c-7.518 15.83-23.662 26.804-42.322 26.804-18.658 0-34.804-10.974-42.322-26.804h84.644zM341.208 415.426c0 11.054 8.962 20.014 20.014 20.014h34.032c9.062 38.27 43.52 66.834 84.52 66.834 47.888 0 86.848-38.96 86.848-86.848 0-11.054-8.962-20.014-20.014-20.014h-185.386c-11.052-0.002-20.014 8.96-20.014 20.014z m180.89 20.014c-7.518 15.83-23.662 26.804-42.322 26.804-18.66 0-34.804-10.974-42.322-26.804h84.644zM462.63 721.908c-11.054 0-20.014 8.962-20.014 20.014 0 11.054 8.962 20.014 20.014 20.014h163.018c64.568 0 125.268-25.144 170.922-70.798 7.816-7.816 7.816-20.49 0-28.304-7.816-7.816-20.49-7.816-28.304 0-38.094 38.094-88.746 59.076-142.62 59.076h-163.018v-0.002z"
                    fill=""></path>
                <path d="M626.354 35.496m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="star-eyes" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)rotate(45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M486.344 546.52m-458.818 0a458.818 458.818 0 1 0 917.636 0 458.818 458.818 0 1 0-917.636 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M584.658 937.602c-253.398 0-458.816-205.418-458.816-458.816 0-135.38 58.646-257.05 151.906-341.03C129.208 213.704 27.52 368.234 27.52 546.518c0 253.398 205.418 458.816 458.816 458.816 118.018 0 225.614-44.572 306.91-117.784-62.58 31.998-133.474 50.052-208.588 50.052z"
                    fill="#FCC56B"></path>
                <path
                    d="M332.348 36.48l55.87 113.202a31.95 31.95 0 0 0 24.06 17.48l124.926 18.152c26.212 3.808 36.676 36.02 17.71 54.508l-90.398 88.116a31.96 31.96 0 0 0-9.19 28.284l21.34 124.42c4.478 26.104-22.924 46.012-46.368 33.688l-111.738-58.744a31.944 31.944 0 0 0-29.74 0l-111.738 58.744c-23.444 12.324-50.844-7.584-46.368-33.688l21.34-124.42a31.96 31.96 0 0 0-9.19-28.284l-90.398-88.116c-18.966-18.488-8.502-50.698 17.71-54.508l124.926-18.152a31.956 31.956 0 0 0 24.06-17.48l55.87-113.202c11.724-23.752 45.594-23.752 57.316 0zM845.892 187.926l36.224 73.394a20.72 20.72 0 0 0 15.6 11.334l80.996 11.77c16.992 2.468 23.78 23.354 11.482 35.34l-58.61 57.128a20.726 20.726 0 0 0-5.958 18.34l13.834 80.666c2.902 16.926-14.862 29.832-30.062 21.84l-72.444-38.088a20.714 20.714 0 0 0-19.282 0l-72.444 38.088c-15.198 7.992-32.966-4.916-30.062-21.84l13.834-80.666a20.726 20.726 0 0 0-5.958-18.34l-58.61-57.128c-12.296-11.986-5.51-32.87 11.482-35.34l80.996-11.77a20.712 20.712 0 0 0 15.6-11.334l36.224-73.394c7.6-15.402 29.56-15.402 37.158 0z"
                    fill="#FFFF00"></path>
                <path
                    d="M315.41 173.542l22.846 46.292a13.062 13.062 0 0 0 9.84 7.148l51.086 7.424c10.718 1.558 15 14.728 7.242 22.288l-36.968 36.034a13.064 13.064 0 0 0-3.758 11.568l8.726 50.88c1.832 10.674-9.374 18.814-18.962 13.776l-45.692-24.022c-3.808-2-8.354-2-12.162 0l-45.692 24.022c-9.586 5.04-20.79-3.1-18.962-13.776l8.726-50.88a13.08 13.08 0 0 0-3.758-11.568l-36.968-36.034c-7.754-7.56-3.476-20.73 7.242-22.288l51.086-7.424a13.076 13.076 0 0 0 9.84-7.148l22.846-46.292c4.798-9.71 18.648-9.71 23.442 0zM833.332 289.562l11.734 23.778a6.704 6.704 0 0 0 5.054 3.67l26.238 3.812c5.506 0.798 7.702 7.566 3.72 11.448l-18.986 18.512a6.714 6.714 0 0 0-1.932 5.94l4.482 26.134c0.94 5.482-4.816 9.664-9.738 7.076l-23.468-12.34a6.71 6.71 0 0 0-6.246 0l-23.468 12.34c-4.926 2.588-10.68-1.592-9.738-7.076l4.482-26.134a6.7 6.7 0 0 0-1.932-5.94l-18.986-18.508c-3.984-3.882-1.784-10.65 3.72-11.448l26.238-3.812a6.714 6.714 0 0 0 5.054-3.67l11.734-23.778c2.464-4.992 9.576-4.992 12.038-0.004z"
                    fill="#FC4C59"></path>
                <path
                    d="M579.896 849.502c-102.57 0-185.72-83.15-185.72-185.72h371.44c0 102.57-83.146 185.72-185.72 185.72z"
                    fill="#7F184C"></path>
                <path
                    d="M439.492 663.782v28.99c0 12.224 9.91 22.132 22.132 22.132h236.544c12.224 0 22.132-9.91 22.132-22.132v-28.99H439.492z"
                    fill="#F2F2F2"></path>
                <path
                    d="M583.796 772.454c-50.202-23.324-105.912-19.934-151.088 4.256 33.946 44.244 87.328 72.794 147.404 72.794a185.026 185.026 0 0 0 74.424-15.56c-16.72-25.872-40.694-47.532-70.74-61.49z"
                    fill="#FC4C59"></path>
                <path
                    d="M1003.222 333.126c10.814-10.54 14.634-26.01 9.968-40.372-4.668-14.362-16.852-24.634-31.796-26.806L900.4 254.18a2.056 2.056 0 0 1-1.546-1.124L862.632 179.66c-6.684-13.542-20.216-21.952-35.314-21.952-15.102 0-28.636 8.412-35.318 21.952l-0.008 0.012c-42.02-35.096-89.236-62.426-140.686-81.368-9.676-3.566-20.402 1.394-23.964 11.068-3.564 9.674 1.394 20.402 11.068 23.964 50.24 18.496 96.1 45.69 136.536 80.876l-19.168 38.838a2.046 2.046 0 0 1-1.546 1.124l-80.996 11.77c-14.944 2.172-27.126 12.444-31.794 26.804-4.666 14.362-0.846 29.832 9.968 40.372l58.61 57.13c0.482 0.47 0.704 1.152 0.592 1.816l-13.838 80.666c-2.554 14.882 3.45 29.644 15.664 38.52 6.904 5.018 14.982 7.566 23.116 7.566 6.26 0 12.55-1.508 18.364-4.564l72.444-38.088c0.598-0.316 1.31-0.314 1.908 0l72.444 38.088a39.194 39.194 0 0 0 24.84 4c0.598 9.4 0.934 18.824 0.934 28.26 0 242.702-197.452 440.15-440.15 440.15S46.186 789.22 46.186 546.518c0-80.174 21.504-157.824 62.364-225.964l21.286 20.75a13.286 13.286 0 0 1 3.822 11.764l-21.34 124.42c-3.28 19.134 4.434 38.104 20.138 49.512 8.872 6.448 19.252 9.724 29.706 9.724 8.046 0 16.132-1.942 23.606-5.868l111.738-58.744a13.292 13.292 0 0 1 12.368 0l111.738 58.744c17.18 9.032 37.612 7.556 53.31-3.852 15.704-11.408 23.418-30.382 20.138-49.512l-21.34-124.42a13.296 13.296 0 0 1 3.822-11.766l90.4-88.116c13.896-13.548 18.808-33.43 12.806-51.89-5.996-18.458-21.654-31.664-40.864-34.454l-124.928-18.152a13.3 13.3 0 0 1-10.008-7.27l-12.336-24.996a442.704 442.704 0 0 1 93.718-10.056 18.668 18.668 0 0 0 0-37.332 479.57 479.57 0 0 0-110.72 12.938L349.078 28.22C340.496 10.814 323.1 0 303.69 0s-36.804 10.814-45.394 28.218l-55.87 113.204a13.286 13.286 0 0 1-10.008 7.27l-124.926 18.156c-19.208 2.792-34.866 15.992-40.864 34.454-5.998 18.458-1.09 38.344 12.81 51.892l41.7 40.648c-47.33 75.72-72.284 162.742-72.284 252.676C8.854 809.804 223.05 1024 486.336 1024s477.482-214.196 477.482-477.482c0-33.132-3.442-66.212-10.182-98.378l-9.614-56.066a2.064 2.064 0 0 1 0.59-1.82l58.61-57.128zM62.132 212.834c0.766-2.364 3.35-7.974 10.728-9.046l124.926-18.152a50.594 50.594 0 0 0 38.114-27.692l55.87-113.202c3.3-6.688 9.434-7.408 11.918-7.408 2.486 0 8.618 0.722 11.918 7.408l55.87 113.202a50.608 50.608 0 0 0 38.114 27.692l124.926 18.152c7.382 1.072 9.962 6.684 10.732 9.046s1.976 8.42-3.364 13.624l-90.398 88.116a50.624 50.624 0 0 0-14.558 44.806l21.34 124.42c1.262 7.35-3.278 11.54-5.288 12.998-2.008 1.458-7.396 4.48-13.996 1.01l-111.738-58.744a50.592 50.592 0 0 0-47.112 0l-111.738 58.744c-6.598 3.47-11.986 0.448-13.996-1.012-2.01-1.458-6.548-5.65-5.288-12.998l21.34-124.424a50.61 50.61 0 0 0-14.558-44.806l-90.398-88.11c-5.34-5.206-4.132-11.262-3.364-13.624z m856.424 150.69a39.384 39.384 0 0 0-11.326 34.86l9.084 52.964c0.07 0.704 0.17 1.412 0.322 2.118 0.102 0.472 0.186 0.948 0.286 1.422l4.144 24.162c0.068 0.408 0.214 1.256-0.816 2.006-1.028 0.75-1.8 0.348-2.162 0.156l-72.444-38.084a39.362 39.362 0 0 0-36.65 0l-72.444 38.088c-0.366 0.194-1.134 0.592-2.162-0.156-1.03-0.75-0.884-1.6-0.816-2.008l13.84-80.672a39.38 39.38 0 0 0-11.328-34.856l-58.61-57.13c-0.298-0.288-0.916-0.89-0.52-2.106 0.394-1.214 1.246-1.338 1.654-1.398l80.996-11.77a39.388 39.388 0 0 0 29.656-21.544l25.424-51.516c0.07-0.14 0.142-0.278 0.206-0.418l10.59-21.458c0.182-0.37 0.564-1.144 1.842-1.144 1.276 0 1.658 0.774 1.84 1.144l36.224 73.394a39.386 39.386 0 0 0 29.654 21.542l80.996 11.77c0.41 0.06 1.264 0.184 1.658 1.398 0.394 1.214-0.224 1.814-0.52 2.106l-58.618 57.13z"
                    fill=""></path>
                <path
                    d="M375.512 663.782c0 112.698 91.686 204.386 204.386 204.386s204.386-91.686 204.386-204.386a18.666 18.666 0 0 0-18.666-18.666H394.174c-10.306 0-18.662 8.358-18.662 18.666z m370.404 18.664c-9.308 83.362-80.212 148.39-166.02 148.39s-156.712-65.028-166.02-148.39h332.04z"
                    fill=""></path>
                <path d="M576.26 97.16m-18.666 0a18.666 18.666 0 1 0 37.332 0 18.666 18.666 0 1 0-37.332 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="sick" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M432.182 511.37m-414.164 0a414.164 414.164 0 1 0 828.328 0 414.164 414.164 0 1 0-828.328 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M520.942 864.39c-228.736 0-414.162-185.426-414.162-414.162 0-122.206 52.938-232.032 137.122-307.84C109.818 210.944 18.026 350.436 18.026 511.368c0 228.736 185.426 414.162 414.162 414.162 106.532 0 203.656-40.234 277.04-106.32-56.49 28.884-120.486 45.18-188.286 45.18z"
                    fill="#FCC56B"></path>
                <path d="M360.07 464.148m-50.546 0a50.546 50.546 0 1 0 101.092 0 50.546 50.546 0 1 0-101.092 0Z"
                    fill="#FFFFFF">
                </path>
                <path d="M644.634 464.148m-50.546 0a50.546 50.546 0 1 0 101.092 0 50.546 50.546 0 1 0-101.092 0Z"
                    fill="#FFFFFF"></path>
                <path
                    d="M303.322 594.922c-30.756 0-55.69 24.934-55.69 55.692h111.384c0-30.756-24.934-55.692-55.694-55.692zM684.288 586.478c0-30.756 24.934-55.69 55.69-55.69 30.756 0 55.69 24.934 55.69 55.69"
                    fill="#F9A880"></path>
                <path
                    d="M640.294 617.038l-19.704 117.942 121.928-22.038 245.66-267.102c26.484-28.228 25.068-72.58-3.16-99.064-28.228-26.482-72.58-25.068-99.064 3.16l-245.66 267.102z"
                    fill="#FFFFFF"></path>
                <path
                    d="M646.112 724.862a16.852 16.852 0 0 1-12.284-28.378l276.656-294.892a16.852 16.852 0 0 1 24.576 23.058L658.404 719.542a16.808 16.808 0 0 1-12.292 5.32z"
                    fill="#FC4C59"></path>
                <path
                    d="M375.186 771.886a16.848 16.848 0 0 1-10.338-30.16c33.206-25.76 91.08-41.764 151.038-41.764 62.678 0 118.968 15.754 150.574 42.144a16.848 16.848 0 1 1-21.596 25.864c-25.35-21.164-74.77-34.31-128.978-34.31-52.842 0-102.802 13.292-130.384 34.69a16.796 16.796 0 0 1-10.316 3.536z"
                    fill="#7F184C"></path>
                <path
                    d="M739.704 245.538H139.916c-40.96 0-74.166-33.206-74.166-74.166 0-40.96 33.206-74.166 74.166-74.166h599.786c40.96 0 74.166 33.206 74.166 74.166 0.002 40.96-33.204 74.166-74.164 74.166z"
                    fill="#3FA9F5"></path>
                <path
                    d="M172.172 171.372c0-40.96 33.206-74.166 74.166-74.166H139.916c-40.96 0-74.166 33.206-74.166 74.166 0 40.96 33.206 74.166 74.166 74.166h106.418c-40.956 0-74.162-33.206-74.162-74.166z"
                    fill="#3784F4"></path>
                <path
                    d="M427.462 464.142c0-37.162-30.234-67.396-67.396-67.396s-67.396 30.234-67.396 67.396 30.234 67.396 67.396 67.396 67.396-30.234 67.396-67.396z m-101.092 0c0-18.58 15.116-33.698 33.698-33.698 18.58 0 33.698 15.116 33.698 33.698s-15.116 33.698-33.698 33.698-33.698-15.116-33.698-33.698zM712.036 464.142c0-37.162-30.234-67.396-67.396-67.396s-67.396 30.234-67.396 67.396 30.234 67.396 67.396 67.396 67.396-30.234 67.396-67.396z m-101.094 0c0-18.58 15.116-33.698 33.698-33.698s33.698 15.116 33.698 33.698-15.116 33.698-33.698 33.698-33.698-15.116-33.698-33.698z"
                    fill=""></path>
                <path
                    d="M1023.956 395.116c-0.742-23.208-10.476-44.742-27.41-60.626-16.934-15.888-39.032-24.234-62.25-23.49-23.208 0.74-44.742 10.474-60.74 27.53L839.646 375.4a433.954 433.954 0 0 0-63.334-120.724c32.004-14.12 54.408-46.136 54.408-83.302 0-50.184-40.828-91.014-91.014-91.014H139.916c-50.184 0-91.014 40.83-91.014 91.014 0 50.186 40.828 91.016 91.014 91.016h599.668c33.792 41.65 59.116 90.32 73.7 141.668l-185.394 201.576a16.854 16.854 0 0 0-4.166 8.324l-12.922 69.466a13.86 13.86 0 0 0-0.122 0.748l-3.932 28.106c-26.756-7.96-57.924-12.318-90.864-12.318-59.956 0-117.834 16.004-151.04 41.766a16.848 16.848 0 1 0 20.654 26.624c27.584-21.398 77.544-34.692 130.384-34.692 36.428 0 70.68 5.944 96.932 16.262 0.962 0.5 1.968 0.908 3.006 1.216 11.518 4.788 21.382 10.444 29.038 16.838a16.85 16.85 0 0 0 23.732-2.134c4.908-5.88 5.12-14.108 1.062-20.164l4.492-0.578c0.49-0.062 0.978-0.148 1.46-0.254l70.508-15.44a16.856 16.856 0 0 0 8.798-5.052l32.118-34.922c-65.914 133.032-202.602 220.516-356.026 220.516-219.078-0.002-397.312-178.236-397.312-397.316 0-33.882 4.268-67.528 12.686-100a16.85 16.85 0 0 0-12.082-20.538 16.84 16.84 0 0 0-20.538 12.082C4.632 439.41 0 475.9 0 512.63c0 237.66 193.35 431.012 431.012 431.012 195.802 0 366.46-131.384 416.56-320.032l152.894-166.242c15.89-16.934 24.23-39.044 23.49-62.252zM82.602 171.372c0-31.604 25.712-57.318 57.318-57.318h599.786c31.604 0 57.318 25.712 57.318 57.318s-25.712 57.32-57.318 57.32H139.916c-31.604-0.002-57.314-25.718-57.314-57.32z m893.174 263.062L733.716 697.62l-64.586 14.144-3.396 0.436 269.556-287.322a16.85 16.85 0 0 0-24.576-23.058L644.728 685.34l11.246-60.46 188.372-204.812c0.128-0.14 0.258-0.274 0.382-0.416l53.516-58.186c9.73-10.37 22.914-16.332 37.126-16.786 14.238-0.438 27.752 4.654 38.12 14.384 10.37 9.73 16.332 22.914 16.786 37.126 0.454 14.212-4.656 27.75-14.5 38.244z"
                    fill=""></path>
                <path d="M50.604 348.14m-16.848 0a16.848 16.848 0 1 0 33.696 0 16.848 16.848 0 1 0-33.696 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="rainbow" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(-45)matrix(-1, 0, 0, 1, 0, 0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.006 417.926m-401.588 0a401.588 401.588 0 1 0 803.176 0 401.588 401.588 0 1 0-803.176 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M598.058 760.224c-221.79 0-401.586-179.796-401.586-401.586 0-118.494 51.332-224.986 132.958-298.492C199.418 126.622 110.412 261.876 110.412 417.924c0 221.79 179.796 401.586 401.586 401.586 103.296 0 197.472-39.014 268.628-103.092-54.772 28.004-116.824 43.806-182.568 43.806z"
                    fill="#FCC56B"></path>
                <path
                    d="M378.484 391.372c21.916-9.438 46.058-14.688 71.434-14.688a180.422 180.422 0 0 1 61.388 10.708c28.638-21.226 47.208-55.264 47.208-93.644 0-64.338-52.156-116.494-116.494-116.494s-116.494 52.156-116.494 116.494c-0.002 40.89 21.084 76.836 52.958 97.624zM702.196 389.37c20.594-8.154 43.016-12.684 66.51-12.684s45.916 4.53 66.51 12.684c30.204-21.048 49.986-56.014 49.986-95.62 0-64.338-52.156-116.494-116.494-116.494s-116.494 52.156-116.494 116.494c-0.004 39.604 19.778 74.572 49.982 95.62z"
                    fill="#FFFFFF"></path>
                <path
                    d="M369.918 447.062c-29.822 0-54.002 24.176-54.002 54h108.002c0-29.824-24.176-54-54-54zM810.446 447.062c-29.822 0-54.002 24.176-54.002 54h108.002c0.002-29.824-24.176-54-54-54z"
                    fill="#F9A880"></path>
                <path
                    d="M604.574 694.676c-89.776 0-162.554-72.778-162.554-162.554h325.108c0 89.776-72.778 162.554-162.554 162.554z"
                    fill="#7F184C"></path>
                <path
                    d="M481.682 532.12v25.374c0 10.7 8.674 19.372 19.372 19.372h207.04c10.7 0 19.372-8.674 19.372-19.372V532.12H481.682z"
                    fill="#F2F2F2"></path>
                <path
                    d="M697.71 956.304c-19.31 0-34.964-15.654-34.964-34.964V673.756l-69.928-49.144h91.72c26.584 0 48.136 21.55 48.136 48.136V921.34c0 19.308-15.652 34.964-34.964 34.964z"
                    fill="#FC4C59"></path>
                <path
                    d="M697.71 868.444c-19.31 0-34.964-15.654-34.964-34.964v87.856c0 19.31 15.654 34.964 34.964 34.964s34.964-15.654 34.964-34.964V833.48c0 19.312-15.652 34.964-34.964 34.964z"
                    fill="#BC3B4A"></path>
                <path
                    d="M627.784 1007.66c-19.31 0-34.964-15.654-34.964-34.964v-298.94l-69.928-49.144h91.72c26.584 0 48.136 21.55 48.136 48.136V972.7c0 19.308-15.654 34.96-34.964 34.96z"
                    fill="#85E266"></path>
                <path
                    d="M627.784 919.804c-19.31 0-34.964-15.654-34.964-34.964v87.856c0 19.31 15.654 34.964 34.964 34.964s34.964-15.654 34.964-34.964V884.84c0 19.31-15.654 34.964-34.964 34.964z"
                    fill="#50C950"></path>
                <path
                    d="M557.854 956.304c-19.31 0-34.964-15.654-34.964-34.964V712.268c0-24.594-12.258-45.09-30.046-62.076l-21.416-25.58h73.256c26.584 0 48.136 21.55 48.136 48.136V921.34c0 19.308-15.656 34.964-34.966 34.964z"
                    fill="#3FA9F5"></path>
                <path
                    d="M557.854 868.444c-19.31 0-34.964-15.654-34.964-34.964v87.856c0 19.31 15.654 34.964 34.964 34.964s34.964-15.654 34.964-34.964V833.48c0.002 19.312-15.654 34.964-34.964 34.964z"
                    fill="#3784F4"></path>
                <path
                    d="M891.1 242.14a131.32 131.32 0 0 0-5.796-11.96C816.422 93.77 674.966 0 511.998 0 281.556 0 94.076 187.478 94.076 417.922c0 228.624 184.538 414.924 412.478 417.856v85.562c0 28.288 23.012 51.3 51.3 51.3 6.57 0 12.85-1.254 18.628-3.516v3.572c0 28.288 23.012 51.302 51.3 51.302s51.302-23.014 51.302-51.302v-3.572a50.974 50.974 0 0 0 18.626 3.516c28.288 0 51.302-23.012 51.302-51.3V672.748c0-9.752-2.19-19-6.082-27.294 26.196-31.92 40.534-71.69 40.534-113.332a16.336 16.336 0 0 0-16.338-16.338H442.022a16.338 16.338 0 0 0-16.338 16.338c0 36.734 11.054 72.036 31.97 102.084a16.246 16.246 0 0 0 3.646 3.756l19.02 22.718c0.39 0.466 0.804 0.908 1.242 1.326 16.818 16.06 24.994 32.502 24.994 50.262v90.836C296.634 800.174 126.754 628.528 126.754 417.92c-0.004-212.426 172.818-385.246 385.244-385.246 115.876 0 219.96 51.43 290.644 132.654a132.586 132.586 0 0 0-33.936-4.412c-73.244 0-132.832 59.586-132.832 132.832 0 43.402 21.302 84.16 56.982 109.026a16.348 16.348 0 0 0 15.354 1.786 163.622 163.622 0 0 1 60.496-11.538 163.612 163.612 0 0 1 60.494 11.538 16.348 16.348 0 0 0 15.354-1.788 133.108 133.108 0 0 0 46.024-56.298 385.884 385.884 0 0 1 6.67 71.446c0 80.22-24.412 157.104-70.596 222.34a16.34 16.34 0 0 0 26.666 18.882c50.116-70.79 76.604-154.202 76.604-241.22 0-62.76-13.93-122.316-38.822-175.782z m-174.76 679.2c0 10.27-8.356 18.626-18.628 18.626-10.27 0-18.626-8.356-18.626-18.626v-52.366a16.336 16.336 0 0 0-16.338-16.338 16.336 16.336 0 0 0-16.338 16.338V972.698c0 10.272-8.356 18.628-18.628 18.628-10.27 0-18.626-8.356-18.626-18.628V750.626c0-9.024-7.312-16.338-16.338-16.338s-16.338 7.312-16.338 16.338v170.714c0 10.27-8.356 18.626-18.628 18.626-10.27 0-18.626-8.356-18.626-18.626V712.268c0-25.758-10.92-49.736-32.468-71.318h37.924c17.534 0 31.798 14.266 31.798 31.798 0 9.024 7.312 16.338 16.338 16.338s16.338-7.312 16.338-16.338a64.066 64.066 0 0 0-8.422-31.798h13.878c17.534 0 31.798 14.266 31.798 31.798V785.112a16.336 16.336 0 0 0 16.338 16.338 16.336 16.336 0 0 0 16.338-16.338V672.748a64.066 64.066 0 0 0-8.422-31.798h13.878c17.534 0 31.798 14.266 31.798 31.798V921.34zM479.732 608.274a144.92 144.92 0 0 1-20.476-59.818h290.63a145.34 145.34 0 0 1-28.42 71.486 64.1 64.1 0 0 0-36.926-11.67H479.732z m389.13-314.524c0 29.954-13.464 58.238-36.386 77.198a196.138 196.138 0 0 0-63.77-10.6 196.122 196.122 0 0 0-63.772 10.6c-22.922-18.96-36.386-47.244-36.386-77.198 0-55.228 44.932-100.158 100.158-100.158 37.73 0 70.64 20.976 87.716 51.874 1.61 3.2 3.172 6.426 4.692 9.676a99.58 99.58 0 0 1 7.748 38.608z"
                    fill=""></path>
                <path
                    d="M309.188 293.75c0 45.042 22.57 86.652 60.372 111.308a16.324 16.324 0 0 0 15.384 1.324c20.58-8.862 42.442-13.356 64.974-13.356a163.908 163.908 0 0 1 55.84 9.74 16.336 16.336 0 0 0 15.276-2.242c33.698-24.976 53.814-64.888 53.814-106.77 0-73.244-59.586-132.832-132.83-132.832-73.242-0.006-132.83 59.584-132.83 132.828z m232.988 0c0 29.272-12.346 56.296-34.144 75.328a196.734 196.734 0 0 0-58.114-8.728c-23.876 0-47.13 4.212-69.258 12.536-24.436-18.934-38.8-47.948-38.8-79.134 0-55.228 44.932-100.158 100.158-100.158 55.228-0.004 100.158 44.928 100.158 100.156z"
                    fill=""></path>
                <path d="M804.244 694.676m-16.338 0a16.338 16.338 0 1 0 32.676 0 16.338 16.338 0 1 0-32.676 0Z" fill="">
                </path>
                <path d="M461.622 293.742m-50.384 0a50.384 50.384 0 1 0 100.768 0 50.384 50.384 0 1 0-100.768 0Z"
                    fill="#7F184C"></path>
                <path d="M475.934 273.462m-21.782 0a21.782 21.782 0 1 0 43.564 0 21.782 21.782 0 1 0-43.564 0Z"
                    fill="#FFFFFF">
                </path>
                <path d="M788.364 293.742m-50.384 0a50.384 50.384 0 1 0 100.768 0 50.384 50.384 0 1 0-100.768 0Z"
                    fill="#7F184C"></path>
                <path d="M802.676 273.462m-21.782 0a21.782 21.782 0 1 0 43.564 0 21.782 21.782 0 1 0-43.564 0Z"
                    fill="#FFFFFF">
                </path>
            </g>
        </svg>

        <svg id="goggles" width="100px" height="100px" viewBox="-102.4 -102.4 1228.80 1228.80" class="icon"
            version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"
            transform="rotate(45)matrix(1, 0, 0, 1, 0, 0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC"
                stroke-width="8.192">
            </g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M496.212907 512.013m-476.816793 0a476.816794 476.816794 0 1 0 953.633587 0 476.816794 476.816794 0 1 0-953.633587 0Z"
                    fill="#FFDB6C"></path>
                <path
                    d="M598.391506 918.423381c-263.337543 0-476.812794-213.475251-476.812794-476.812793 0-140.690824 60.946357-267.131565 157.864925-354.408077C125.074733 166.130973 19.398114 326.723914 19.398114 512.001c0 263.337543 213.475251 476.812794 476.812793 476.812794 122.646719 0 234.463374-46.320271 318.949869-122.402717-65.034381 33.252195-138.710813 52.012305-216.76927 52.012304z"
                    fill="#FFB04C"></path>
                <path
                    d="M291.305707 518.83704c-35.410207 0-64.118376 28.706168-64.118376 64.114376h128.232752c0.002-35.410207-28.704168-64.114376-64.114376-64.114376zM850.564984 518.83704c-35.410207 0-64.118376 28.706168-64.118376 64.114376h128.232751c0.002-35.410207-28.704168-64.114376-64.114375-64.114376z"
                    fill="#F9A880"></path>
                <path
                    d="M221.759299 253.947488c124.500729-28.574167 225.28732-18.74011 336.929975 7.278043 16.554097 3.856023 34.044199 8.158048 52.512307 8.722051 30.76018 0.942006 65.338383-6.714039 95.150558-14.204084 117.70069-29.566173 209.645228-14.188083 298.247747 4.744028l-6.546038 52.360307c-13.832081 0.306002-18.182107 6.75604-22.13413 19.346113-20.680121 65.890386-3.068018 179.26105-155.954914 165.930973-100.580589-8.770051-129.384758-36.328213-177.321039-157.492923-4.078024-10.30606-6.730039-27.33816-30.022175-26.708157-13.152077 0.354002-24.914146 2.680016-29.01617 25.53015-7.646045 42.576249-65.786385 158.256927-183.831078 158.130927-104.264611-0.112001-144.038844-54.232318-148.786871-173.485017-0.590003-14.806087-13.492079-17.618103-21.234125-17.792104l-7.994047-52.360307z"
                    fill="#56586F"></path>
                <path
                    d="M402.564359 237.467391l-72.812427 248.311455c19.162112 7.884046 42.292248 11.776069 70.02841 11.80407 0.488003 0 0.970006-0.018 1.458009-0.020001l74.080434-252.63548c-24.226142-3.664021-48.352283-6.228036-72.754426-7.460044zM855.357012 239.479403c-24.232142-0.776005-49.386289 0-75.804444 2.950017l-65.002381 221.675299c17.776104 14.928087 38.762227 23.598138 66.468389 28.89417l74.338436-253.519486z"
                    fill="#737891"></path>
                <path
                    d="M634.521718 781.222577a141.978832 141.978832 0 0 1-90.022528-32.168188c-8.284049-6.79204-9.492056-19.014111-2.700015-27.29816 6.79204-8.286049 19.014111-9.492056 27.30216-2.700016 28.894169 23.696139 68.408401 29.900175 103.132604 16.208095 33.832198-13.348078 58.756344-45.202265 65.044381-83.130487 1.75601-10.568062 11.740069-17.716104 22.310131-15.962093 10.570062 1.75401 17.716104 11.742069 15.966093 22.31013-8.51005 51.300301-42.64425 94.550554-89.084522 112.870662a141.556829 141.556829 0 0 1-51.948304 9.870057z"
                    fill="#7F184C"></path>
                <path
                    d="M1008.65791 241.517415c-92.634543-19.794116-185.821089-35.036205-307.027799-4.586027-30.188177 7.584044-62.004363 14.484085-89.834526 13.63008-15.548091-0.476003-31.048182-4.096024-46.04027-7.602044l-2.664016-0.624004c-97.26657-22.670133-206.46521-39.24223-345.670025-7.294043a19.398114 19.398114 0 0 0-14.836087 21.834128l8.000047 52.360307a19.396114 19.396114 0 0 0 18.74011 16.462096c0.950006 0.02 1.72801 0.116001 2.326013 0.230002 2.750016 66.008387 15.940093 111.136651 41.476243 141.962832 27.31416 32.968193 68.734403 49.026287 126.628742 49.086287h0.218002c71.188417 0 119.584701-37.840222 147.656865-69.602408 31.476184-35.618209 50.340295-78.148458 55.070322-104.494612 1.238007-6.89604 2.958017-8.60405 2.964018-8.61005 0.282002-0.184001 1.66001-0.800005 7.490044-0.956006 6.008035-0.160001 6.262037-0.170001 9.702057 9.650057 0.592003 1.68601 1.164007 3.302019 1.75801 4.806028 23.394137 59.130346 43.932257 101.200593 73.998433 128.190751 31.796186 28.546167 70.836415 37.230218 119.674702 41.488243 8.802052 0.768005 17.228101 1.154007 25.284148 1.154007 48.494284 0 83.57249-13.950082 106.786626-42.336248 0.592003-0.724004 1.128007-1.476009 1.696009-2.212013 1.038006 12.604074 1.570009 25.266148 1.57001 37.946222 0 252.221478-205.195202 457.41668-457.412681 457.41668S38.794227 764.218478 38.794227 512.001 243.99143 54.58432 496.210907 54.58432c101.058592 0 196.841153 32.288189 276.995624 93.376547 8.52005 6.496038 20.694121 4.850028 27.184159-3.668022a19.394114 19.394114 0 0 0-3.670022-27.184159C709.754159 50.824298 605.83755 15.790093 496.210907 15.790093 222.597304 15.790093 0 238.387397 0 512.001s222.597304 496.210907 496.210907 496.210907c273.609603 0 496.208907-222.597304 496.208908-496.210907 0-36.180212-3.954023-72.238423-11.674068-107.278629 1.914011-8.988053 3.49402-17.912105 5.012029-26.536155 2.584015-14.682086 5.022029-28.550167 8.674051-40.186236 0.986006-3.140018 1.69201-4.790028 2.116012-5.622032 0.440003-0.06 1.074006-0.118001 1.938012-0.138001a19.396114 19.396114 0 0 0 18.81811-16.9841l6.546038-52.360307a19.394114 19.394114 0 0 0-15.192089-21.378125z m-28.152165 55.360325c-15.970094 6.82004-20.744122 22.038129-23.088135 29.508172-4.410026 14.042082-7.060041 29.116171-9.870058 45.080265-1.68801 9.596056-3.34402 18.988111-5.314031 27.986164a19.590115 19.590115 0 0 0-0.450003 1.988011c-10.990064 48.634285-32.128188 85.046498-120.130704 77.362453-91.152534-7.948047-115.222675-29.676174-160.968943-145.302851-0.414002-1.048006-0.806005-2.180013-1.218007-3.35802-3.760022-10.738063-12.476073-35.632209-45.534267-35.632208-0.600004 0-1.212007 0.008-1.82801 0.026-11.030065 0.298002-40.330236 1.086006-47.586279 41.490243-6.546038 36.456214-59.75035 142.162833-164.550964 142.162833h-0.168001c-89.854526-0.098001-124.932732-42.070247-129.424759-154.858907-0.620004-15.654092-9.540056-27.718162-23.460137-33.196195l-3.220019-21.076123c123.262722-24.950146 222.041301-9.574056 310.59782 11.062064l2.640015 0.616004c16.058094 3.756022 34.260201 8.010047 53.682315 8.60405 32.596191 0.994006 67.568396-6.514038 100.474589-14.780086 105.680619-26.548156 189.733112-15.626092 272.059594 1.250007l-2.642016 21.068124z"
                    fill=""></path>
                <path
                    d="M634.521718 781.222577c17.514103 0 35.140206-3.244019 51.946304-9.874057 46.440272-18.318107 80.574472-61.570361 89.084522-112.870662 1.75001-10.568062-5.396032-20.55612-15.966093-22.31013-10.570062-1.75401-20.55412 5.396032-22.310131 15.962093-6.290037 37.928222-31.212183 69.782409-65.044381 83.130487-34.724203 13.69208-74.238435 7.488044-103.132604-16.208095-8.286049-6.79204-20.51012-5.584033-27.30216 2.700016s-5.584033 20.50612 2.700015 27.29816a141.976832 141.976832 0 0 0 90.024528 32.172188z"
                    fill=""></path>
                <path
                    d="M834.55689 174.781024m-19.398114 0a19.398114 19.398114 0 1 0 38.796228 0 19.398114 19.398114 0 1 0-38.796228 0Z"
                    fill=""></path>
            </g>
        </svg>

        <svg id="smile" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M300.576 481.542c-36.536 0-66.156 29.62-66.156 66.156h132.314c-0.004-36.536-29.622-66.156-66.158-66.156zM877.628 472.678c-36.536 0-66.158 29.62-66.158 66.156h132.314c0.002-36.538-29.616-66.156-66.156-66.156z"
                    fill="#F9A880"></path>
                <path
                    d="M617.43 931.356c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.106 34.31-143.124 53.668-223.668 53.668z"
                    fill="#FCC56B"></path>
                <path
                    d="M492.588 379.726c-11.054 0-20.014-8.962-20.014-20.014 0-25.816-21.004-46.818-46.818-46.818s-46.818 21.004-46.818 46.818c0 11.054-8.962 20.014-20.014 20.014-11.054 0-20.014-8.962-20.014-20.014 0-47.888 38.96-86.848 86.848-86.848s86.848 38.96 86.848 86.848c-0.002 11.054-8.964 20.014-20.018 20.014zM830.634 379.726c-11.054 0-20.014-8.962-20.014-20.014 0-25.816-21.004-46.818-46.818-46.818-25.814 0-46.818 21.004-46.818 46.818 0 11.054-8.962 20.014-20.014 20.014s-20.014-8.962-20.014-20.014c0-47.888 38.96-86.848 86.848-86.848s86.848 38.96 86.848 86.848c-0.004 11.054-8.964 20.014-20.018 20.014zM600.658 795.232c-53.02 0-102-28.8-127.822-75.16-5.38-9.658-1.91-21.848 7.744-27.226 9.656-5.38 21.846-1.91 27.226 7.744 18.764 33.686 54.342 54.608 92.852 54.608 37.528 0 73.512-21.136 93.908-55.16 5.684-9.478 17.978-12.558 27.458-6.874 9.482 5.684 12.558 17.976 6.874 27.458-27.588 46.024-76.728 74.61-128.24 74.61z"
                    fill="#7F184C"></path>
                <path
                    d="M934.5 222.718c-57.164-83.336-136.698-147.41-230.004-185.294-10.242-4.156-21.914 0.774-26.076 11.016-4.158 10.242 0.774 21.914 11.016 26.076 86.01 34.922 159.338 94 212.05 170.848 53.96 78.66 82.48 170.864 82.48 266.638 0 260.248-211.724 471.97-471.97 471.97S40.03 772.244 40.03 512 251.752 40.03 512 40.03c11.054 0 20.014-8.962 20.014-20.014S523.054 0 512 0C229.68 0 0 229.68 0 512s229.68 512 512 512 512-229.68 512-512c0-103.894-30.948-203.926-89.5-289.282z"
                    fill=""></path>
                <path
                    d="M492.588 379.726c11.054 0 20.014-8.962 20.014-20.014 0-47.888-38.962-86.848-86.848-86.848s-86.848 38.96-86.848 86.848c0 11.054 8.962 20.014 20.014 20.014 11.054 0 20.014-8.962 20.014-20.014 0-25.816 21.002-46.818 46.818-46.818s46.818 21.004 46.818 46.818c0.004 11.054 8.964 20.014 20.018 20.014zM716.982 359.712c0-25.816 21.002-46.818 46.818-46.818s46.818 21.004 46.818 46.818c0 11.054 8.962 20.014 20.014 20.014s20.014-8.962 20.014-20.014c0-47.888-38.962-86.848-86.848-86.848-47.886 0-86.848 38.96-86.848 86.848 0 11.054 8.962 20.014 20.014 20.014s20.018-8.96 20.018-20.014zM507.804 700.594c-5.38-9.656-17.57-13.124-27.226-7.744-9.658 5.38-13.124 17.568-7.744 27.226 25.824 46.36 74.804 75.16 127.822 75.16 51.512 0 100.652-28.586 128.244-74.606 5.684-9.482 2.608-21.774-6.874-27.458-9.478-5.684-21.774-2.604-27.458 6.874-20.398 34.024-56.382 55.16-93.908 55.16-38.514-0.004-74.094-20.928-92.856-54.612z"
                    fill=""></path>
                <path d="M628.142 34.028m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="devil" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="matrix(-1, 0, 0, 1, 0, 0)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path
                    d="M889.336 24.948c-6.326-10.536-22.396-5.974-22.382 6.314v0.438c0 158.842-91.246 296.352-224.172 363.036v232.034c174.062-44.504 302.366-200.788 304.198-389.172 0.756-77.808-20.396-150.61-57.644-212.65z"
                    fill="#A66EDD"></path>
                <path d="M512.002 536.446m-468.494 0a468.494 468.494 0 1 0 936.988 0 468.494 468.494 0 1 0-936.988 0Z"
                    fill="#A66EDD"></path>
                <path
                    d="M612.398 935.78c-258.742 0-468.492-209.75-468.492-468.492 0-138.236 59.884-262.47 155.11-348.222C147.342 196.618 43.512 354.406 43.512 536.452c0 258.742 209.75 468.492 468.492 468.492 120.506 0 230.372-45.512 313.382-120.268-63.9 32.67-136.292 51.104-212.988 51.104z"
                    fill="#7D45B2"></path>
                <path d="M511.01 526.13m-51.986 0a51.986 51.986 0 1 0 103.972 0 51.986 51.986 0 1 0-103.972 0Z"
                    fill="#FC4C59">
                </path>
                <path d="M789.196 512.052m-51.986 0a51.986 51.986 0 1 0 103.972 0 51.986 51.986 0 1 0-103.972 0Z"
                    fill="#FC4C59"></path>
                <path
                    d="M644.786 822.332c-50.338 0-98.932-21.524-137.742-61.238-7.356-7.53-7.216-19.596 0.31-26.952a19.06 19.06 0 0 1 26.952 0.31c33.432 34.21 75.234 51.802 117.802 49.568 41.958-2.218 82.024-24.784 112.83-63.54 6.546-8.238 18.538-9.61 26.78-3.06 8.238 6.548 9.608 18.538 3.06 26.78-37.692 47.422-87.644 75.082-140.66 77.882a173.284 173.284 0 0 1-9.332 0.25zM512.104 597.15c-27.918 0-54.662-15.964-67.008-42.966-9.034-19.756-8.716-43.998 0.854-64.854 4.084-8.904 9.588-16.624 16.24-22.92-2.924-1.504-5.882-3.032-8.876-4.586-13.018-6.76-23.48-12.938-33.602-18.908-11.962-7.06-24.33-14.36-41.904-23.262-9.39-4.754-13.148-16.224-8.392-25.612 4.754-9.392 16.222-13.154 25.612-8.392 18.672 9.456 31.58 17.074 44.06 24.442 10.126 5.98 19.692 11.624 31.79 17.906 8.14 4.226 16.03 8.256 23.612 12.13 32.43 16.568 60.438 30.872 79.08 46.006a19.114 19.114 0 0 1 5.322 6.872c16.868 36.89 0.582 80.624-36.306 97.488a73.234 73.234 0 0 1-30.482 6.656z m-10.348-110.404a17.7 17.7 0 0 1-1.194 0.386c-11.126 3.22-16.998 11.614-19.968 18.088-4.862 10.592-5.19 23.588-0.836 33.106 8.13 17.774 29.198 25.62 46.972 17.496a35.2 35.2 0 0 0 18.476-19.862 35.184 35.184 0 0 0 0.546-23.178c-11.01-8.172-26.262-16.74-43.996-26.036zM791.784 584.222a73.3 73.3 0 0 1-30.552-6.704c-17.868-8.17-31.488-22.812-38.344-41.224-6.856-18.414-6.134-38.394 2.038-56.268a19.04 19.04 0 0 1 6.008-7.402c20.038-14.802 46.494-30.184 78.63-45.722 48.226-23.316 51.426-25.194 90.636-48.194l5.992-3.514c9.072-5.326 20.76-2.282 26.08 6.802 5.326 9.08 2.276 20.756-6.802 26.08l-5.984 3.512c-34.356 20.154-42.016 24.644-75.858 41.152a75.662 75.662 0 0 1 16.98 26.34c7.676 20.066 6.99 42.712-1.888 62.124-8.17 17.868-22.812 31.488-41.224 38.346a73.504 73.504 0 0 1-25.712 4.672z m-33.818-84.104a35.178 35.178 0 0 0 0.642 22.874 35.196 35.196 0 0 0 18.478 19.862 35.236 35.236 0 0 0 27.106 0.98 35.222 35.222 0 0 0 19.864-18.476c4.582-10.022 4.938-22.228 0.95-32.652-2.534-6.622-8.01-15.564-19.74-20.97-18.488 9.708-34.326 19.214-47.3 28.382z"
                    fill="#3A2568"></path>
                <path
                    d="M270.344 277.822c-59.68-62.628-96.322-147.404-96.322-240.748v-0.376c0.01-10.566-13.808-14.49-19.248-5.43-32.032 53.35-50.22 115.96-49.572 182.866 0.546 56.122 14.144 108.934 37.91 155.58 0 0 7.41 15.57 15.986 26.052l111.246-117.944z"
                    fill="#A66EDD"></path>
                <path
                    d="M954.626 332.16a430.924 430.924 0 0 0 11.412-94.38c0.762-78.616-20.112-155.606-60.364-222.644-7.286-12.134-21.33-17.752-34.95-13.968-13.672 3.796-22.846 15.898-22.83 30.096v0.44c0 45.29-7.7 89.324-22.864 131.276C740.276 91.826 631.064 48.9 512 48.9c-108.388 0-213.498 36.146-298.692 102.218-13.28-36.106-20.23-74.61-20.23-114.044v-0.354c0.016-13.44-8.658-24.884-21.584-28.474-12.886-3.576-26.166 1.73-33.06 13.21-34.87 58.076-52.948 124.768-52.288 192.862 0.562 57.878 14.014 113.072 39.986 164.052a19.06 19.06 0 0 0 16.996 10.412 18.976 18.976 0 0 0 8.638-2.082 19.06 19.06 0 0 0 8.328-25.636c-23.272-45.68-35.328-95.178-35.828-147.114-0.49-50.524 10.52-100.176 32.034-145.288 7.078 83.248 42.05 161.236 100.246 222.308 7.258 7.622 19.324 7.914 26.946 0.65 7.622-7.26 7.91-19.326 0.65-26.946-22.232-23.33-40.676-49.418-55.022-77.448 79.818-64.704 179.738-100.21 282.884-100.21 247.82 0 449.43 201.616 449.43 449.434S759.822 985.882 512.004 985.882 62.568 784.27 62.568 536.452c0-30.12 2.996-60.228 8.906-89.49 2.084-10.318-4.592-20.37-14.91-22.454-10.314-2.086-20.372 4.592-22.454 14.91a491.356 491.356 0 0 0-9.662 97.036C24.45 805.288 243.164 1024 512.002 1024c268.836 0 487.548-218.714 487.548-487.548 0.002-72.91-16.114-142.116-44.924-204.292z m-99.342-141.576c17.262-42.742 27.334-87.572 30.004-133.732 28.564 55.564 43.246 117.482 42.632 180.564a395.404 395.404 0 0 1-2.548 40.82 490.8 490.8 0 0 0-70.088-87.652z"
                    fill=""></path>
                <path
                    d="M534.214 734.452c-7.356-7.528-19.424-7.67-26.952-0.31-7.528 7.36-7.666 19.424-0.31 26.952 38.812 39.714 87.406 61.238 137.74 61.238 3.108 0 6.22-0.082 9.336-0.25 53.014-2.802 102.97-30.462 140.66-77.882 6.548-8.242 5.178-20.23-3.06-26.78-8.242-6.552-20.23-5.178-26.78 3.06-30.804 38.756-70.876 61.322-112.83 63.54-42.564 2.234-84.372-15.358-117.804-49.568zM573.476 486.126c-18.642-15.128-46.646-29.434-79.076-46a3808.054 3808.054 0 0 1-23.616-12.132c-12.094-6.282-21.656-11.924-31.78-17.902-12.482-7.366-25.392-14.986-44.066-24.444-9.388-4.762-20.856-1.004-25.612 8.392a19.052 19.052 0 0 0 8.392 25.612c17.58 8.904 29.948 16.206 41.91 23.268 10.116 5.972 20.582 12.146 33.594 18.904 2.994 1.552 5.952 3.082 8.876 4.586-6.65 6.294-12.154 14.014-16.24 22.92-9.57 20.856-9.888 45.098-0.854 64.854 12.348 27.002 39.092 42.966 67.008 42.966a73.14 73.14 0 0 0 30.48-6.66c36.886-16.866 53.174-60.6 36.312-97.486a19.11 19.11 0 0 0-5.328-6.878z m-46.84 69.7c-17.774 8.124-38.842 0.276-46.972-17.496-4.354-9.52-4.026-22.516 0.836-33.106 2.97-6.474 8.844-14.872 19.968-18.088 0.404-0.116 0.804-0.246 1.196-0.386 17.732 9.294 32.98 17.86 43.99 26.034 5.408 16.842-2.538 35.504-19.018 43.042zM925.38 408.078a19.058 19.058 0 0 0 6.802-26.08c-5.324-9.084-17.004-12.126-26.08-6.802l-5.992 3.514c-39.21 23-42.41 24.878-90.636 48.194-32.136 15.536-58.594 30.918-78.63 45.722a19.056 19.056 0 0 0-6.008 7.402c-8.172 17.87-8.894 37.854-2.038 56.268 6.858 18.41 20.48 33.054 38.346 41.224 9.756 4.462 20.138 6.704 30.552 6.704 8.662 0 17.348-1.55 25.712-4.666 18.41-6.858 33.054-20.48 41.226-38.35 8.874-19.414 9.562-42.06 1.882-62.124a75.622 75.622 0 0 0-16.978-26.336c33.838-16.508 41.498-21 75.854-41.152l5.988-3.518z m-101.414 117.278a35.208 35.208 0 0 1-19.864 18.476 35.254 35.254 0 0 1-27.106-0.98 35.22 35.22 0 0 1-18.478-19.864 35.152 35.152 0 0 1-0.642-22.87c12.972-9.168 28.812-18.672 47.302-28.382 11.73 5.402 17.206 14.346 19.74 20.968 3.986 10.422 3.63 22.628-0.952 32.652z"
                    fill=""></path>
                <path d="M70.794 376.708m-19.058 0a19.058 19.058 0 1 0 38.116 0 19.058 19.058 0 1 0-38.116 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="mute" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.004 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M617.43 931.354c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.056 155.124 20.016 320.828 20.016 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.106 34.31-143.124 53.666-223.67 53.666z"
                    fill="#FCC56B"></path>
                <path d="M426.314 359.704m-60.044 0a60.044 60.044 0 1 0 120.088 0 60.044 60.044 0 1 0-120.088 0Z"
                    fill="#FFFFFF"></path>
                <path d="M764.376 359.704m-60.044 0a60.044 60.044 0 1 0 120.088 0 60.044 60.044 0 1 0-120.088 0Z"
                    fill="#FFFFFF"></path>
                <path
                    d="M718.588 43.392c-10.112-4.462-21.928 0.114-26.396 10.228-4.464 10.112 0.114 21.928 10.226 26.392C873.454 155.52 983.97 325.086 983.97 512c0 260.248-211.724 471.97-471.968 471.97S40.03 772.244 40.03 512 251.756 40.03 512.002 40.03c11.056 0 20.014-8.962 20.014-20.014S523.058 0 512.002 0c-282.316 0-512 229.68-512 512s229.68 512 512 512C794.318 1024 1024 794.32 1024 512c0.002-202.762-119.882-386.7-305.412-468.608z"
                    fill=""></path>
                <path
                    d="M346.268 359.71c0 44.144 35.914 80.058 80.058 80.058s80.058-35.914 80.058-80.058-35.914-80.058-80.058-80.058-80.058 35.914-80.058 80.058z m120.09 0c0 22.072-17.958 40.03-40.03 40.03s-40.03-17.958-40.03-40.03 17.958-40.03 40.03-40.03c22.072 0 40.03 17.958 40.03 40.03zM844.432 359.71c0-44.144-35.914-80.058-80.058-80.058s-80.058 35.914-80.058 80.058 35.914 80.058 80.058 80.058 80.058-35.914 80.058-80.058z m-120.088 0c0-22.072 17.958-40.03 40.03-40.03s40.03 17.958 40.03 40.03-17.958 40.03-40.03 40.03-40.03-17.958-40.03-40.03z"
                    fill=""></path>
                <path d="M644.874 40.03m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="uplook" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#FDDF6D"></path>
                <path
                    d="M617.432 931.356c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.102 34.31-143.124 53.668-223.666 53.668z"
                    fill="#FCC56B"></path>
                <path d="M426.314 359.704m-142.718 0a142.718 142.718 0 1 0 285.436 0 142.718 142.718 0 1 0-285.436 0Z"
                    fill="#FFFFFF"></path>
                <path d="M826.554 359.704m-142.718 0a142.718 142.718 0 1 0 285.436 0 142.718 142.718 0 1 0-285.436 0Z"
                    fill="#FFFFFF"></path>
                <path
                    d="M300.576 556.564c-36.536 0-66.156 29.62-66.156 66.158h132.314c-0.004-36.54-29.622-66.158-66.158-66.158zM877.628 547.698c-36.536 0-66.156 29.62-66.156 66.158h132.314c0-36.538-29.618-66.158-66.158-66.158z"
                    fill="#F9A880"></path>
                <path d="M390.526 285.09m-40.03 0a40.03 40.03 0 1 0 80.06 0 40.03 40.03 0 1 0-80.06 0Z" fill="#7F184C">
                </path>
                <path d="M796.612 282.314m-40.03 0a40.03 40.03 0 1 0 80.06 0 40.03 40.03 0 1 0-80.06 0Z" fill="#7F184C">
                </path>
                <path
                    d="M553.388 822.268a19.932 19.932 0 0 1-10.272-2.85c-9.482-5.684-12.558-17.976-6.874-27.458 27.59-46.018 76.732-74.606 128.244-74.606a146.14 146.14 0 0 1 45.684 7.282c10.504 3.448 16.22 14.758 12.77 25.262-3.45 10.498-14.76 16.222-25.262 12.766a106.238 106.238 0 0 0-33.192-5.282c-37.528 0-73.51 21.136-93.908 55.16a20.02 20.02 0 0 1-17.19 9.726z"
                    fill="#7F184C"></path>
                <path
                    d="M976.568 296.66a162.334 162.334 0 0 0-7.144-14.786c-0.916-1.814-1.79-3.65-2.724-5.452a19.944 19.944 0 0 0-3.282-4.576c-28.984-44.988-79.486-74.866-136.864-74.866-89.732 0-162.732 73-162.732 162.732 0 89.73 73 162.73 162.732 162.73 66.794 0 124.292-40.462 149.336-98.15 5.354 28.624 8.084 57.894 8.084 87.708 0 260.248-211.724 471.968-471.97 471.968S40.03 772.248 40.03 512 251.752 40.03 512 40.03c73.236 0 143.414 16.308 208.588 48.47 9.906 4.892 21.914 0.824 26.804-9.09 4.892-9.914 0.822-21.914-9.092-26.806C667.572 17.698 591.434 0 512 0 229.68 0 0 229.68 0 512c0 282.316 229.68 512 512 512s512-229.68 512-511.998c0-74.35-16.38-148.314-47.432-215.342z m-27.314 63.052c0 67.66-55.044 122.7-122.704 122.7s-122.704-55.044-122.704-122.7 55.044-122.704 122.704-122.704c46.26 0 86.612 25.742 107.516 63.646a477.884 477.884 0 0 1 5.604 11.532 121.936 121.936 0 0 1 9.584 47.526z"
                    fill=""></path>
                <path
                    d="M426.326 196.98c-89.732 0-162.732 73-162.732 162.732 0 89.73 73 162.73 162.732 162.73s162.732-73 162.732-162.73c0.002-89.732-73.002-162.732-162.732-162.732z m0 285.432c-67.66 0-122.704-55.044-122.704-122.7s55.044-122.704 122.704-122.704 122.704 55.046 122.704 122.704-55.046 122.7-122.704 122.7zM543.116 819.42a20.008 20.008 0 0 0 27.458-6.878c20.398-34.026 56.38-55.16 93.908-55.16 11.358 0 22.524 1.778 33.19 5.282 10.502 3.456 21.814-2.266 25.264-12.764 3.45-10.502-2.262-21.814-12.764-25.264a145.99 145.99 0 0 0-45.69-7.282c-51.516 0-100.652 28.588-128.244 74.606-5.68 9.482-2.604 21.776 6.878 27.46z"
                    fill=""></path>
                <path d="M791.274 106.798m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>

        <svg id="crosseye" width="100px" height="100px" viewBox="0 0 1024 1024" class="icon" version="1.1"
            xmlns="http://www.w3.org/2000/svg" fill="#000000" transform="rotate(-45)">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M512.002 512.002m-491.988 0a491.988 491.988 0 1 0 983.976 0 491.988 491.988 0 1 0-983.976 0Z"
                    fill="#CCE7A0"></path>
                <path
                    d="M617.43 931.356c-271.716 0-491.986-220.268-491.986-491.986 0-145.168 62.886-275.632 162.888-365.684C129.054 155.124 20.014 320.828 20.014 512c0 271.716 220.268 491.986 491.986 491.986 126.548 0 241.924-47.796 329.098-126.298-67.106 34.31-143.124 53.668-223.668 53.668z"
                    fill="#AED893"></path>
                <path d="M631.61 722.638m-105.736 0a105.736 105.736 0 1 0 211.472 0 105.736 105.736 0 1 0-211.472 0Z"
                    fill="#7F184C"></path>
                <path
                    d="M943.968 237.03c-50.954-79.89-122.818-144.028-207.824-185.48-9.944-4.848-21.914-0.716-26.762 9.218-4.844 9.936-0.72 21.918 9.218 26.76 78.37 38.218 144.632 97.356 191.62 171.026 48.248 75.642 73.752 163.286 73.752 253.448 0 260.248-211.726 471.968-471.97 471.968S40.03 772.248 40.03 512.002 251.752 40.03 512 40.03c11.056 0 20.014-8.958 20.014-20.014S523.056 0 512 0C229.68 0 0 229.684 0 512.002S229.68 1024 512 1024s512-229.68 512-511.998c0-97.804-27.674-192.89-80.032-274.972z"
                    fill=""></path>
                <path
                    d="M629.798 848.396c69.338 0 125.754-56.412 125.754-125.752s-56.414-125.752-125.754-125.752-125.752 56.412-125.752 125.752 56.414 125.752 125.752 125.752z m0-211.472c47.27 0 85.724 38.454 85.724 85.722 0 47.266-38.454 85.722-85.724 85.722-47.266 0-85.722-38.454-85.722-85.722s38.458-85.722 85.722-85.722zM376.092 473.542a19.954 19.954 0 0 0 14.152 5.86 19.958 19.958 0 0 0 14.152-5.86l38.054-38.054 38.054 38.054a19.968 19.968 0 0 0 14.154 5.86 19.966 19.966 0 0 0 14.154-5.86c7.816-7.82 7.816-20.49 0-28.306l-38.054-38.052 38.054-38.052c7.816-7.82 7.816-20.49 0-28.306-7.816-7.812-20.488-7.816-28.306 0l-38.054 38.054-38.054-38.054c-7.816-7.814-20.49-7.814-28.304 0-7.816 7.82-7.816 20.49 0 28.306l38.054 38.052-38.054 38.052c-7.82 7.82-7.82 20.49-0.002 28.306zM755.034 473.542a19.962 19.962 0 0 0 14.154 5.86 19.966 19.966 0 0 0 14.154-5.86l38.054-38.052 38.054 38.052c3.91 3.906 9.034 5.86 14.154 5.86s10.244-1.954 14.154-5.86c7.816-7.82 7.816-20.49 0-28.306l-38.054-38.052 38.054-38.052c7.816-7.82 7.816-20.49 0-28.306-7.816-7.812-20.488-7.816-28.306 0L821.4 378.878l-38.054-38.052c-7.82-7.814-20.49-7.814-28.306 0-7.816 7.82-7.816 20.49 0 28.306l38.054 38.052-38.054 38.052c-7.822 7.82-7.822 20.49-0.006 28.306z"
                    fill=""></path>
                <path d="M655.682 41.19m-20.014 0a20.014 20.014 0 1 0 40.028 0 20.014 20.014 0 1 0-40.028 0Z" fill="">
                </path>
            </g>
        </svg>
    </div>
    <div class="form-box">
        <form action="#" method="post" enctype="multipart/form-data">
                        <h1 id="title">Sign Up</h1>
                        <div class="first-part">
                            <div class="input-group">
                                <div id="errmessage">
                                    <% if (message) { %>
                                    <%= message %>
                                    <% } %>
                                </div>
                                <div class="input-field">
                                    <i class="fa-solid fa-user"></i>

                                    <input id="nameField" type="text" id="fullname" name="fullname"
                                        placeholder="Enter Your Full Name">
                                </div>

                                <div class="input-field">
                                    <i class="fa-solid fa-signature"></i>

                                    <input type="text" id="username" name="username" placeholder="Enter Username"
                                        required>
                                </div>
                                <div>
                                </div>
                                <div class="input-field">
                                    <i class="fa-solid fa-at"></i>

                                    <input id="nameField" type="email" id="email" name="email" placeholder="Enter email"
                                        required>
                                </div>

                                <div class="input-field">
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" id="password" name="password" placeholder="Enter password"
                                        required>
                                </div>

                                <div class="input-field">
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" id="confirmpassword" name="confirmpassword"
                                        placeholder="Confirm password" required>
                                </div>
                            </div>
                            <div class="second-part">
                                <!-- <input id="nameField" type="file" id="profilePicture" name="profilePicture"
                                        accept="image/*" required> -->
                                <div class="custom-file-input">
                                    <input type="file"  id="fileInput" name="profilePicture" class="input-hidden">
                                    <label for="fileInput">
                                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier">
                                                <circle cx="12" cy="13" r="3" stroke="#ffffff" stroke-width="1.5">
                                                </circle>
                                                <path
                                                    d="M2 13.3636C2 10.2994 2 8.76721 2.74902 7.6666C3.07328 7.19014 3.48995 6.78104 3.97524 6.46268C4.69555 5.99013 5.59733 5.82123 6.978 5.76086C7.63685 5.76086 8.20412 5.27068 8.33333 4.63636C8.52715 3.68489 9.37805 3 10.3663 3H13.6337C14.6219 3 15.4728 3.68489 15.6667 4.63636C15.7959 5.27068 16.3631 5.76086 17.022 5.76086C18.4027 5.82123 19.3044 5.99013 20.0248 6.46268C20.51 6.78104 20.9267 7.19014 21.251 7.6666C22 8.76721 22 10.2994 22 13.3636C22 16.4279 22 17.9601 21.251 19.0607C20.9267 19.5371 20.51 19.9462 20.0248 20.2646C18.9038 21 17.3433 21 14.2222 21H9.77778C6.65675 21 5.09624 21 3.97524 20.2646C3.48995 19.9462 3.07328 19.5371 2.74902 19.0607C2.53746 18.7498 2.38566 18.4045 2.27673 18"
                                                    stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"></path>
                                                <path d="M19 10H18" stroke="#ffffff" stroke-width="1.5"
                                                    stroke-linecap="round"></path>
                                            </g>
                                        </svg>
                                        Choose a Profile Pic!
                                    </label>
                                    <span class="file-name"></span>
                                </div>

                                <select id="gender" name="gender" required>
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">LGBTQ</option>
                                </select>

                                <p>Already have an Account?<a href="#"> Login Here</a></p>
                                <button class="btn-field" id="signupBtn" type="submit">Sign Up</button>
                            </div>
                        </div>
        </div>

    </form>
    </div>
    <script>
        //check passwords
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirmpassword");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            }
            else {
                confirm_password.setCustomValidity('');
            }
        }

        confirm_password.onchange = validatePassword;

        setTimeout(() => {
            const myDiv = document.getElementById('errmessage');
            myDiv.style.display = 'none'
        }, 3000);
    </script>
    </body>

</html>